<header>
  <% include ../partials/welcome %>
  <h1>
    <b>Thank you!!</b>
  </h1>
  <h4>
  <div class="info">
  <a href="<%= recoverLink %>" target="_blank"><%= recoverLink %></a>
    <br>
    Keep this link private, this shows you all the collected birthdays.
  </div>
  </h4>
</header>
<main>
  <h1>
    Share the following link with friends and family:
    <br>
      <a href="<%= bdayId %>" target="_blank"><%= bdayId %></a>
    <br>
    or
    <br>
      <a href="whatsapp://send?text=<%= bdayId %> ">Share on whatsapp</a>
  </h1>
</main>
<% include ../partials/social %>
<% include ../partials/raven %>
