<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% include ../partials/analytics %>
    <script src="/quicklink.js" defer></script>
  </head>
  <body>
    <header>      
      <% include ../partials/welcome %>
      <h3>
        Save this link        
        <br>
        <%= recoverLink %>
      </h3>  
      <h4>
        keep it private, for your eyes only<br>        
      </h4>             
    </header>
    <main>
      <h2>
        Share this:
      </h2>
      <h3>
        <a href="<%= shareLink %>" target="_blank"><%= shareLink %></a>
        <br>
        or
        <br>
        <a href="whatsapp://send?text=<%= shareLink %> ">Whatsapp</a>
        <br>
      </h3>
      <br>
      <h2>
        Birthdays:
      </h2>      
      <%for (var result in data){%>
        <%if (result != "recoverId" && result != "id" && result != "quicklink"){%>
            <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Birthday of <%=result%>&dates=<%=data[result].date.replace(/-/g, '');%>/<%=data[result].date.replace(/-/g, '');%>&details=Birthday of <%=result%>&trp=false&recur=RRULE:FREQ=YEARLY" target="_blank"><%=result%>'s Birthday @<%=data[result].date%></a>
            <br>
        <%}%>
      <%}%>
      <br>
      <form id="create_quicklink">
        <h3>
          Shorten your private url here:
        </h3>
        <input name="quicklink" type="text" maxlength="100" required placeholder="Enter short url..." aria-labelledby="submit-dream">
        <input name="recoverId" type="hidden" value="<%= recoverId %>"  aria-labelledby="submit-dream">
        <input name="id" type="hidden" value="<%= bdayId %>" aria-labelledby="submit-dream">
        <button type="submit" id="submit-dream">Shorten url</button>
      </form>
    </main>
    <% include ../partials/social %>
  </body>
</html>
